{% extends 'base.html' %}
{% block title %}New List{% endblock %}
{% block content %}

{% set button_word = 'Make' %}
{% set title = "Let's get started!" %}
{% if new  == False %}
    {% set button_word = 'Update' %}
    {% set title = "Let's make some changes" %}
{% endif %}

<div class="form-container">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5">
            <h2 class="text-center join-message">{{title}}</h2>
            <form method="POST" class="user_form">
                {{ form.hidden_tag() }}
        
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
                <br>
                {% endfor %}
                <div class="edit-btn-area">
                    <button class="btn btn-lg btn-outline-primary btn-block">{{button_word}}</button>
                    <a href="/users/{{ this_user.id }}" class="btn btn-lg btn-outline-danger">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}

