{% extends 'base.html' %}
{% block title %}{{movie_list.title}} Details{% endblock %}
{% block content %}
<br>
<div class="container">
   <div class="jumbotron-fluid">
      <div class="card flex-row flex-wrap movie-list-main-card">
         <div class="card-header border-0">
            <img class="movie-list-main-card-image" src="{{movie_list.list_image_url}}" alt="">
         </div>
         <div class="card-block px-2">
            <br>
            <div class="row movie-list-card">
               <h5 class="user-list-movie-title">{{movie_list.title}} 
                  <small><a href="/users/{{user.id}}">@{{user.username}}</a></small>
               </h5>
               {% if this_user.id == user.id %}
               <div class="col list-card-button-area">
                  <div class="row list-card-button-container">
                     <!-- # PUT/PATCH wont work here. Why? -->
                     <form method="POST" action="/users/lists/{{movie_list.id}}/edit" class="form-inline"> 
                        <button class="btn btn-md btn-outline-primary">Edit</button>&nbsp; &nbsp;
                     </form>
                     <form method="DELETE" action="/users/lists/{{movie_list.id}}/delete" class="form-inline">
                        <button class="btn btn-md btn-outline-danger">Delete</button>&nbsp; &nbsp;
                     </form>
                  </div>
               </div>
               {% endif%}
           </div>
            <hr>
            <div class="container">
               <p class="card-text movie-list-description">{{movie_list.description}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>
<div class="container">
   <div class="jumbotron">
      {% for movie in movie_list.movies %}
      <div class="card flex-row flex-wrap movie-list-movie-card">
         <div class="card-header border-0">
            <a href="/show-movie-details/{{movie.IMDB_id}}">
               <img class="movie-list-movie-image" src="{{movie.poster_url}}" alt="">
            </a>
         </div>
         <div class="card-block px-2 movie-list-movie-card-block">
            <br>
            <a href="/show-movie-details/{{movie.IMDB_id}}">
               <h5 class="card-title">{{movie.name}}</h5>
            </a>
            <br>
            <p class="card-text list-card-movie-plot">
               {{movie.plot}}
            </p>
            <hr>
            {% if movie.name.endswith(')') %}
               {% set title = movie.name[:movie.name.find('(')] %}
            {% else %}
               {% set title = movie.name %}
            {% endif %}
            <small><a href="https://wikipedia.com/wiki/{{title}}">More about {{title}}</a></small>
         </div>
         {% if this_user.id == user.id %}
         <div class="movie-remove-button-div">
            <form action="/users/lists/movies/{{movie.id}}/remove">
               <button class="btn btn-md btn-outline-danger">Remove</button>
            </form>
         </div>
         {% endif %}
      </div>
      <hr>
      {% endfor %}
   </div>
</div>

<div class="container">
   <div class="jumbotron">
      <div class="row">
         <div class="col col-sm-12">
            <ul class="list-group comment-list" id="messages">
               <li class="list-group-item">
                  <img src="{{ this_user.user_pic_url }}" alt="" class="timeline-image">
                  <div class="comment-box-container">
                     <input type="text" name="comment-text" class="comment-box", placeholder="Add a public comment..."></input>
                     <div class="comment-box-button-container">
                        <button class="btn btn-sm btn-outline-primary comment-submit-button">Comment</button>   
                        <button class="btn btn-sm btn-outline-danger comment-cancel-button">Cancel</button>
                     </div>
                  </div>
               </li> 
            </ul>   
               <input type="hidden" class="user-id" name="user-id" value="{{this_user.id}}">
               <input type="hidden" class="user-pic-url" name="user-pic-url" value="{{this_user.user_pic_url}}">
               <input type="hidden" class="username" name="username" value="{{this_user.username}}">
               <input type="hidden" class="movie_list_id" name="movie_list_id" value="{{movie_list.id}}">
            <ul class="list-group comment-list comment-list-body" id="messages">
               {% for comment in movie_list.comments %}
                  <li class="list-group-item">
                     <a href="/users/{{ movie_list.comments[loop.revindex0].user_id }}">
                        <img src="{{ movie_list.comments[loop.revindex0].user.user_pic_url }}" alt="" class="timeline-image">
                     </a>
                     <div class="message-area">
                        <a href="/users/{{ movie_list.comments[loop.revindex0].user.id }}">@{{ movie_list.comments[loop.revindex0].user.username }}</a>
                        <span class="text-muted">{{ movie_list.comments[loop.revindex0].timestamp.strftime('%d %B %Y,  %H:%M') }}</span>
                        <p>{{ movie_list.comments[loop.revindex0].content }}</p>
                     </div>
                  </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</div>

{% endblock %}

