{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block content %}
<br>
<div class="container">
   <div class="jumbotron">
      <div class="card flex-row flex-wrap" style="height: 54vw;">
         <div class="card-header border-0">
             <img src="{{poster}}" alt="" style="height: 50vw;">
         </div>
         <div class="card-block px-2">
            <br>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Ratings and add buttons go here.</p>
         </div>
      </div>
      <hr>
      <h4><b>Plot</b></h4>
      <div class="container">
         <p>{{plot['plainText']}}</p>
      </div>
   </div>
</div>
<hr>
<div class="container">
   <div class="jumbotron">
      <h1 class="display-5">Cast</h1>
      {% for actor in actors %}
      <div class="card flex-row flex-wrap" style="height: 14rem;">
         <div class="card-header border-0">
             <img src="{{actor['image']}}" alt="" style="height: 12.5rem;">
         </div>
         <div class="card-block px-2">
            <br>
            <h5 class="card-title">{{actor['name']}} <small>as {{actor['asCharacter']}}</small> </h5>
            <p class="card-text">Description goes here...</p>
         </div>
         <!-- <div class="w-100"></div> -->
      </div>
      <hr>
      {% endfor %}
   </div>
</div>

<div class="container">
   <div class="jumbotron">
      <h1 class="display-5">Directors</h1>
      {% for director in directors['items'] %}
      <div class="card">
         <img class="card-img-top" src="" alt="">
         <div class="card-body">
            <p class="card-text">
               {{director['name']}}
            </p>
         </div>
      </div>
      {% endfor %}
      </div>
   </div>
</div>


{% endblock %}

