body {
    background-color: #15181a;
}

.jumbotron {
    background-color: #22282b;
}

.jumbotron-fluid {
    background-color: #22282b;
}

.card {
    background-color: #15181a;
}

h1, h2, h3, h4, p, small {
    color: white;
}

hr {
    background-color: #657786;
}

.list-group-item {
    background-color: #15181a;
}

.navbar {
    background-color: rgb(0, 0, 0);
    height: 2.8em;
    border-bottom: 0.125em solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}
  
.navbar a {
    color: #66757f;
    font-size: 0.85em;
    font-weight: bold;
}
  
.navbar a:hover {
    color: #1c94e0;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-brand > img {
    display: inline-block;
    margin-bottom: 0.1em;
    margin-right: 0.4em;
    width: 2.25em;
    border-radius: 0.1em;
}
  
.nav > li > a > img {
    width: 2.25em;
    border-radius: 2.25em;
}
  
ul.nav.navbar-nav {
    align-items: center;
}
  
ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}
  
nav form.navbar-form {
    display: flex;
    position: relative;
}
  
.search.form-control {
    border-radius: 2em;
    margin-bottom: 0;
    background-color:#15181a;
    color: white;
    font-size: 0.825em;
    padding-right: 2.8em;
    box-sizing: border-box;
}
  
.movie-search {
    width: 100%;
}

.friend-search{
    width: 55%;
    margin-left: 3.75em;
}

.friend-search-li {
    text-align: center;
    height: 3.5em;
    box-sizing: border-box;
    padding: 0.65em 1.1em 0.5em;
    line-height: 1;
}

.movie-search.form-control + .btn {
    position: absolute;
    top: 0.1em;
    bottom: 0.1em;
    z-index: 1;
    padding: 0;
    right: 0.55em;
    color: #9520e2;
}

.friend-search-box {
    position: relative;
}

.friend-search.form-control + .btn {
    position: absolute;
    top: 0.25em;
    left: 10.9em;
    z-index: 1;
    padding: 0;
    color: #9520e2;
}

.search.form-control + .btn:active,
.search.form-control + .btn:focus {
    box-shadow: none;
}
  
.search:active,
.search:focus {
    box-shadow: none;
    border: 0.1em solid #007bff;
}
  
@media (max-width: 30em) {
    nav form.navbar-form {
        display: none;
    }
}
  
nav + .container {
    margin-bottom: 1rem;
}

.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-image: url("/static/images/Background.jpg");
    background-size: cover;
    background-position: center center;
    color: rgb(10, 5, 5);
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 0.4em #030608;
    /* play around with the colors and opacity....looks terrible */
}
  
.home-hero .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 10em;
}
  
.home-hero h1 {
    margin-bottom: 4rem;
}
  
.home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
}

.btn {
    border-radius: 2.5em;
}

.user_form input.form-control {
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em;
    background-color: #030608;
}

.user_form textarea.form-control {
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em;
    background-color: #030608;
}

.form-container {
    margin-top: 7rem;
}

.movie-buddy-hero {
    height: 18rem;
    margin-top: -1rem;
    opacity: 0.7;
    background-size: cover;
    background-position: top center;
}

.full-width {
    width: 100vw;
    margin: 0 -50vw;
    position: relative;
    left: 50%;
    right: 50%;
}

.row.full-width {
    background-color: #090a0b;
    margin-top: -5em;
    margin-bottom: 1rem;
    border-bottom: 0.05em solid #ccc;
    border-top: 0.05em solid #ccc;
    box-shadow: 0 0.05em 0.1em 0 rgba(0, 0, 0, 0.25);
    height: 3.7em;
    align-items: center;
}

.user-stats > .ml-auto {
    display: flex;
    align-items: center;
}

.user-stats > .ml-auto .btn {
    min-width: 6.5em;
    padding: 0.2em 0.5em;
}
  
.stat {
    text-align: center;
    height: 3.5em;
    box-sizing: border-box;
    padding: 0.65em 1.1em 0.5em;
    line-height: 1;
}
  
.stat > .small {
    color: #657786;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}
  
.stat > .small + h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 0.16em;
}

@media (max-width: 968px) {
    .full-width .user-stats .stat {
      display: none;
    }
}

.profile-avatar {
    width: 15em;
    height: 15em;
    border: 0.3em solid rgb(166, 175, 177);
    margin-top: -10em;
    z-index: 1;
    position: relative;
    box-shadow: 0 0.01em 0.01em rgba(136, 153, 166, 0.15);
}

.profile-avatar {
  border-radius: 100%;
  display: block;
  margin-left: -1.5em;
}

.sidebar-username {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    word-wrap: break-word;
    color: #b3babe;
}

.edit-btn-area {
    display: flex;
    justify-content: space-between;
}
  
.edit-btn-area > .btn {
    width: 48%;
}

.user-card {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 0.1em;
    border: 0.05em solid #ccc;
    position: relative;
    background: #090a0b;
    margin-top: 2em;
}
  
.user-card > div {
    position: absolute;
    background: #090a0b;
}
  
.user-card form {
    margin-top: 0.16em;
    margin-right: 0.16em;
}
  
.user-card form .btn {
    min-width: 7em;
    padding: 0.11em 0.1em;
    font-size: 0.85em;
    margin-right: 1em;
}

.card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-wrapper {
    width: 100%;
    padding-bottom: 36%;
    position: relative;
    overflow: hidden;
    background-color: #090a0b;
}

.card-hero {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-contents {
    display: flex;
    justify-content: space-between;
}

.card-link {
    display: inline-block;
    margin-left: 1em;
}
  
.card-link > p {
    position: absolute;
    color: #007bff;
}

.card-image {
    border: 0.1em solid rgb(100, 111, 114);
    border-radius: 4.4em;
    height: 4.4em;
    width: 4.4em;
    margin-top: -4.6em;
    position: relative;
    z-index: 1;
}

p.card-bio {
    margin: 2em 1.8em 0;
}

.user-lists-card-text {
    max-width: 55vw; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.comments-number {
    position: absolute;
    bottom: 25%;
    right: 0;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

.list-card-button-area {
    margin-top: -0.3em;
}

.list-card-button-container {
    position: absolute;
    top: 0;
    right: 10%;
}

.rating-value {
    position: absolute;
    right: 20%;  
}

.ratings-text-div {
    position: absolute;
    right: 10%;  
}

.add-to-list-form-div {
    position: absolute;
    right: 20%;  
    bottom: 30%;
}

.movie-remove-button-div {
    position: absolute;
    right: 2%;
    bottom: 5%;
}

.list-card-movie-plot {
    max-width: 57vw; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.plot-tite, .cast-title, .query-results-text, .ratings-text {
    color: white;
}

.user-list-movie-title {
    margin-left: 23%;
    color: white;
}

.messages .list-group-item a:not(.message-link) {
    position: relative;
    z-index: 2;
}
  
.messages .list-group-item {
    display: flex;
    align-items: flex-start;
    padding: .5em 1.25em 0.3em;
    margin-bottom: 0.2em;
    border-radius: 0.75em;
}
  
.messages:not(.no-hover) .list-group-item:hover {
    background-color: #111316;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.timeline-image {
    border-radius: 3.25em;
    height: 3.25em;
    width: 3.25em;
    margin-top: 0.2em;
}

.message-area {
  margin-left: 1em;
}

.messages.no-hover .message-area {
    width: 100%;
}

.comment-box-container {
    margin-right: auto;
    padding-left: 2em;
}

.comment-box {
    width: 66vw;
    margin-top: 0.875em;
    border-radius: 2rem;
    background-color: #22282b;

    font-size: 1.05em;
    color: white;
    padding-left: 1em;
    box-sizing: border-box
}

.comment-box-button-container {
    position: relative;
    padding-left: 54vw;
    padding-top: 0.6em;;
}

.comment-cancel-button {
    margin-left: 1em;
}

.movie-list-main-card {
    height: 20vw;
    background-color: #22282b;
}

.movie-list-main-card-image {
    height: 18vw; 
    max-width: 30vw;
}

.movie-list-description {
    width: 42vw;
}

.movie-list-movie-card {
    height: 12rem;
}

.movie-list-movie-card-block {
    width: 61vw;
}

.movie-list-movie-image {
    height: 10.5rem;
}

.query-result-card {
    width: 18rem;
    background-color: #000001;
}

.query-results-poster {
    height: 28em;
}

.a-movie-list-card {
    height: 10rem; 
    width: 79vw;
}

.a-movie-list-card-title {
    color: #007bff;
}

.a-movie-list-card-image {
    height: 8.5rem; 
    max-width:20vw;
}

.a-movie-card-block {
    width: 50vw;
}

.movie-details-card {
    height: 54vw;
}

.movie-details-poster {
    height: 50vw;
}

.movie-details-block {
    width: 36vw;
}

.movie-card-ratings-div {
    width: 22vw;
}

.actors-card {
    height: 10rem;
}

.actors-card-image {
    height: 8.5rem;
}

.join-message, .edit-message, .main-movie-card-title, .cast-title, .directors-title, .actor-names {
    color: white;
}

.dropdown-menu {
    background-color: #22282b;
}

.dropdown-menu a{
    background-color: #22282b;
    color: white;
}

.dropdown-menu a:hover {
    background-color: #1f3946;
    color: white;
}

.recommendation-title {
    margin-bottom: 1em;
}

.recommendation-jumbotron {
    padding-top: 1em;
    border-radius: 3em;
}

