{% extends 'user/show_profile_details.html' %}
{% block title %}{{user.username}}'s Lists{% endblock %}
{% block user_details %}
<div class="jumbotron">
    {% for movie_list in user.lists %}
    <div class="row">
        <div class="col-md-9">
            <div class="card flex-row flex-wrap" style="height: 10rem; width: 75vw;">
                <a href="/users/{{user.id}}/lists/{{movie_list.id}}/details">
                    <div class="card-header border-0">
                        <img src="{{movie_list.list_image_url}}" alt="" style="height: 8.5rem; max-width:20vw;">
                    </div>
                </a>
                <div class="card-block px-2">
                    <br>
                    <a href="/users/{{user.id}}/lists/{{movie_list.id}}/details">
                        <h5 class="card-title">{{movie_list.title}} ({{movie_list.movies | length}})</h5>
                    </a>
                    <div class="container">
                        <!-- 'put this in style sheet' -->
                        <p class="card-text" style="max-width: 55vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{movie_list.description}}</p>
                    </div>
                    <hr>
                    <div class="row movie-list-card">
                        {% if this_user.id == user.id %}
                        <div class="col list-card-button-area">
                            <form method="DELETE" action="/users/delete/{{movie_list.id}}" class="form-inline">
                                <button class="btn btn-sm btn-outline-danger">Delete</button>&nbsp; &nbsp;
                                <a href="/users/{{ this_user.id }}/list/{{movie_list.id}}/edit" class="btn btn-sm btn-outline-primary">Edit</a>
                            </form>
                        </div>
                        {% endif%}
                        <div class="col">
                            <small class="comments-number"> Comments </small>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
