{% extends 'base.html' %}
{% block title %}{{user.username}}'s Profile{% endblock %}
{% block content %}

<div class="full-width movie-buddy-hero" style="background-image: url('{{ user.header_image_url }}');"></div>
<img src="{{ user.user_pic_url }}" class="profile-avatar" alt="Image for {{ user.username }}">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            {% set list_link_name = 'My Lists' %}
            {% if this_user.id != user.id %}
              {% set list_link_name = 'Lists' %}
            {% endif %}
            <p class="small"><a href="/users/{{ user.id }}/show-lists"">{{list_link_name}}</a></p>
            <h4>
              <a href="/users/{{ user.id }}/show-lists">{{ user.lists | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small"><a href="/users/{{ user.id }}/following">Following</a></p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small"><a href="/users/{{ user.id }}/followers">Followers</a></p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          {% if this_user == user %}
          <li class="friend-search-li">
            <div class="friend-search-box">
              <form class="navbar-form navbar-right" action="/users/find">
                <input type="text" name="friend-query" class="form-control search friend-search" placeholder="Find a friend...">
                <button class="btn btn-default">
                  <span class="fa fa-search"></span>
                </button>
              </form>
            </div>
          </li>
          {% endif %}
          <div class="ml-auto">
          {% if session['current_user'] == user.id %}
            <a href="/users/{{user.id}}/edit-profile" class="btn btn-outline-secondary">Edit Profile</a>
            <form method="DELETE" action="/users/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
          {% else %}
            {% if user in this_user.following %}
            <form method="POST" action="/users/stop-following/{{ user.id }}">
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ user.id }}">
              <button class="btn btn-outline-primary">Follow</button>
            </form>
            {% endif %}
          {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 class="sidebar-username">@{{ user.username }}</h4>
    <p>{{user.bio}}</p>
  </div>

  {% block user_details %}
  {% endblock %}

  {% if this_user.id == user.id and recs != null and recs != None%}
  <div class="container">
    <div class="jumbotron recommendation-jumbotron">
      <h2 class="text-center recommendation-title"><b>Based On Your Lists</b></h2>
       {% for movie in recs %}
       <div class="card flex-row flex-wrap movie-list-movie-card">
          <div class="card-header border-0">
             <a href="/show-movie-details/{{movie.imdb_id}}">
                <img class="movie-list-movie-image" src="{{movie.poster_url}}" alt="">
             </a>
          </div>
          <div class="card-block px-2 movie-list-movie-card-block">
             <br>
             <a href="/show-movie-details/{{movie.imdb_id}}">
                <h5 class="card-title">{{movie.name}}</h5>
             </a>
             <br>
             <p class="card-text list-card-movie-plot">
                {{movie.plot}}
             </p>
             <hr>
             {% if movie.name.endswith(')') %}
                {% set title = movie.name[:movie.name.find('(')] %}
             {% else %}
                {% set title = movie.name %}
             {% endif %}
             <small><a href="https://wikipedia.com/wiki/{{title}}">More about {{title}}</a></small>
          </div>
       </div>
       <hr>
       {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}